
<div class="modal-header">
 <h3 class="modal-title" id="modal-title">Modal Editor</h3>
</div>
<div class="modal-body" id="modal-body">

     <div class="contact-us-form">
                            <form id="contact-form" action="" method="post">
                                <div class="contact-form__two mr-lg-5">

                                    <!--<div class="contact-title section-space--mb_30">
                                        <h4 class="theme-color-default">Send us a message</h4>
                                    </div>-->
                                    <div class="contact-input">
                                        <div class="contact-inner">
                                           <input ng-model="con_name" type="text" placeholder="Email id *" required="required">
                                        </div>
                                    </div>
                                    <div class="contact-input">
                                        <div class="contact-inner">
                                                <input ng-model="con_email" type="email" placeholder="Phone Number **" required="required">
                                        </div>
                                    </div>
                                    <div class="contact-input">
                                        <div class="contact-inner">
                                            <input n=ng-model="con_email" type="text" placeholder="Password **" required="required">
                                        </div>
                                    </div>
                                    <div class="comment-submit-btn text-right">
                                        <button class="ht-btn ht-btn-sm personal-contact-btn" type="submit">Submit</button>
                                        <p class="form-messege"></p>
                                    </div>
                                </div>
                            </form>
                        </div>
    
    <br><br>


</div>
<div class="modal-footer">
 <button class="btn btn-warning" type="button" ng-click="cancelModal()">Cancel</button>

</div>
